@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Urbanist-Light';
    src: url('../fonts/Urbanist-Light.ttf');
}

@font-face {
    font-family: 'Urbanist-Regular';
    src: local('Urbanist-Regular'), url('../fonts/Urbanist-Regular.ttf');
}

@font-face {
    font-family: 'Urbanist-SemiBold';
    src: url('../fonts/Urbanist-SemiBold.ttf');
}

@font-face {
    font-family: 'Urbanist-Bold';
    src: url('../fonts/Urbanist-Bold.ttf');
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

html {
    font-family: 'Urbanist-Regular';
}

.urbanist-light {
    font-family: 'Urbanist-Light';
}

.urbanist {
    font-family: 'Urbanist-Regular';
}

.urbanist-semibold {
    font-family: 'Urbanist-SemiBold';
}

.urbanist-bold {
    font-family: 'Urbanist-Bold';
}